<h1>Welcome to {{Page}} Page</h1>
<h2>Here you can {{Purpose}}.</h2>

Go To other pages
<ul>
  <li> <a href="/">Home</a> </li>
  <li> <a href="/about">About</a> </li>
</ul>

<h2>{{capitalise rememberNote}}</h2>
