<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Web Page</title>
  </head>
  <body>
    {{> header}}

    <p>
      Project Details:
      <ul>
         <li>Project Name : {{Project}}</li>
         <li>Technology : {{Technology}}</li>
      </ul>
    </p>

   {{> footer}}
  </body>
</html>
